:root {
  --normal-panel-bg: #d6d6d6;
  --light-panel-bg: #f3f3f3;
  --pale-panel-bg: #f9f9f9;
  --hover-panel-bg: #eff4f7;
  --normal-line: #ececec;
  --active-panel-bg: #0da4d3;
  --hover-text-color: #2fb1da;
  --normal-text-color: #9a9b9b;
}

.ellipsis {
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

